@{
    ViewData["Title"] = "Sobre";
}

<div class="container text-center">
    <h2 class="meu-nome"><strong>Gustavo de Almeida Lopes</strong></h2>
    <br>
    <h4 class="titulo-competencias">Desenvolvedor Full Stack | .Net C# Asp.Net MVC | Java | Angular</h4>
    <br>
    <img src="~/images/perfil.jpeg" class="foto-perfil" />
    <br><br>
    <div class="text-left">
        <p>Trabalho como Desenvolvedor Web Fullstack desde 2015, autônomo, época em que concluí o curso Técnico em Informática com ênfase em programação, na UTRAMIG - Belo Horizonte.</p>
        <p>Utilizo as tecnologias HTML, CSS, JS, Java, .Net C# Asp.Net MVC, SQL, Git.</p>
        <p>Atualmente curso Análise e Desenvolvimento de Sistemas com formação prevista para 06/2024 na Unisinos.</p>
        <br>
        <p>Acesse os meus perfis:</p>
        <p><a href="https://www.linkedin.com/in/gustavo-de-almeida-lopes-349b6b131/">Linkedin</a> - <a href="https://github.com/g-alopes">GitHub</a></p>
    </div>
</div>